<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frontdoorprivacy.mapper.product.ProductMapper">

    <insert id="enrollProduct" parameterType="ProductDB" statementType="CALLABLE">
        { CALL FND_en_Product(
        #{P_ENID},
        #{P_ProductName},
        #{P_Price},
        #{P_Category},
        #{P_Detail},
        #{P_ImageFileName},
        #{P_ImageFilePath},
        #{P_DetailFileName}
        )
        }
    </insert>

</mapper>