<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frontdoorprivacy.mapper.product.ProductMapper">

    <insert id="enrollProduct" parameterType="ProductDB" statementType="CALLABLE">
        { CALL FND_en_Product(
        #{p_ENID},
        #{p_ProductName},
        #{p_Price},
        #{p_Sale},
        #{p_Category},
        #{p_DetailCategory},
        #{p_Detail},
        #{p_ImageFileName},
        #{p_ImageFilePath},
        #{p_DetailFileName},
        #{p_SaleYN}
        )
        }
    </insert>

    <select id="getCategoryProduct" parameterType="String" resultType="CategoryProduct" statementType="CALLABLE">
        {CALL FND_sd_Category(
            #{p_category}
            )
            }

    </select>

    <select id="getAllProduct" resultType="CategoryProduct" statementType="CALLABLE">
        {CALL FND_sd_AllProduct()
        }

    </select>

    <select id="getDetailCategory" parameterType="String" resultType="CategoryProduct" statementType="CALLABLE">
        {CALL FND_sd_DetailCategory(
            #{p_detailcategory}
            )}
    </select>

    <select id="getSaleProduct" resultType="CategoryProduct" statementType="CALLABLE">
        {CALL FND_sd_SaleProduct()
        }

    </select>

    <select id="detailedProduct" parameterType="DetailedProductReq" resultType="DetailedProductRes" statementType="CALLABLE">
        {CALL FND_sd_DetailedProduct(
        #{p_PDID}
        )
        }
    </select>

    <select id="getpersonalProduct" parameterType="Integer" resultType="CategoryProduct" statementType="CALLABLE">
        {Call FND_sd_personalProduct(
            #{p_enid}
            )}

    </select>

    <select id="getmypageProduct" parameterType="Integer" resultType="MypageProduct" statementType="CALLABLE">
        {CALL FND_sd_MypageProduct(
            #{p_pdid}
            )}


    </select>
    <select id="getfileInfo" parameterType="Integer" resultType="FileInfo" statementType="CALLABLE">
        {CALL FND_sd_FileInfo(
            #{p_pdid}
            )}


    </select>
    <update id="updatemypageProduct" parameterType="UpdateMypageProduct" statementType="CALLABLE">
        {CALL FND_up_MypageProduct(
            #{p_PDID},
            #{p_ENID},
            #{p_ProductName},
            #{p_Price},
            #{p_Sale},
            #{p_Category},
            #{p_DetailCategory},
            #{p_Detail},
            #{p_ImageFileName},
            #{p_ImageFilePath},
            #{p_DetailFileName},
            #{p_SaleYN}

            )}
    </update>
</mapper>