<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frontdoorprivacy.mapper.user.UserMapper">
    <select id="getUserInfo" resultType="User" parameterType="Integer" statementType="CALLABLE">
        { CALL FND_sd_User_Info(
                #{enid}
            )
            }
    </select>

    <insert id="joinUserInfo" parameterType="JoinUser" statementType="CALLABLE">
        { Call FND_in_User(
                #{userName},
                #{birth},
                #{phoneNumber},
                #{userId},
                #{password},
                #{email}
            )
            }
    </insert>

    <update id="updateUserInfo" parameterType="UpdateUser" statementType="CALLABLE">
        { CALL FND_ud_User_Info(
                #{id},
                #{P_PhoneNumber},
                #{P_UserId},
                #{P_Password},
                #{P_Email}
            )
            }
    </update>

    <select id="checkmultiple" parameterType="String" resultType="String" statementType="CALLABLE">
        { CALL FND_ck_userID(
                #{inputId}
            )
            }
    </select>

    <select id="enLogin" parameterType="LoginUser" resultType="UserLoginOutput" statementType="CALLABLE">
        { CALL FND_login_User(
                #{inputId},
                #{pw}
            )
            }
    </select>

    <update id="WithdrawUser" parameterType="Withdraw" statementType="CALLABLE">
        { CALL FND_de_User(
                #{id}
            )
            }
    </update>

    <select id="mySubscribeList" parameterType="MySubscribeListReq" resultType="MySubscribeListRes"
            statementType="CALLABLE">
        { CALL FND_myProductList_User(
                #{p_USID}
            )
            }
    </select>

    <update id="SubscribeWithdraw" parameterType="SubscribeWithdrawReq" statementType="CALLABLE">
        { CALL FND_SubscribeDe_User(
                #{p_SSID}
            )
            }
    </update>

    <insert id="SubscribeEnroll" parameterType="SubscribeEnrollReq" statementType="CALLABLE">
        { CALL FND_SubscribeEN_User(
                #{p_Name},
                #{p_USID},
                #{p_PDID},
                #{p_Price},
                #{p_imp_uid},
                #{p_SubscribeCycle},
                #{p_SPeriod}
            )
            }
    </insert>

    <select id="SubscribeCheck" parameterType="SubscribeEnrollReq" resultType="String" statementType="CALLABLE">
        { CALL FND_SubscribeCK_User(
                #{p_USID},
                #{p_PDID},
                #{p_SubscribeCycle}
            )
            }
    </select>

    <insert id="BasketInsert" parameterType="BasketReq" statementType="CALLABLE">
        { CALL FND_Basket_in(
                #{p_PDID},
                #{p_USID}
            )
            }

    </insert>

    <select id="showBasketList" parameterType="Integer" resultType="BasketProduct" statementType="CALLABLE">
        { CALL FND_Basket_List
            (
                #{p_USID}
            )
            }
    </select>

    <update id="BasketWithdraw" parameterType="BasketWithdrawReq" statementType="CALLABLE">
        { CALL FND_BasketDe_User
            (
                #{p_BSID}
            )
            }
    </update>

    <select id="FindId" parameterType="FindIdReq" statementType="CALLABLE">
        { CALL FND_find_Id
            (
                #{role},
                #{name},
                #{email},
                #{exitYN, mode=OUT, jdbcType=VARCHAR, javaType=String},
                #{id, mode=OUT, jdbcType=VARCHAR, javaType=String}
            )
            }

    </select>

    <select id="FindPw" parameterType="FindPwReq" statementType="CALLABLE">
        {CALL FND_find_pw
            (
                #{role},
                #{id},
                #{name},
                #{email},
                #{exitYN, mode=OUT, jdbcType=VARCHAR, javaType=String}
            )
            }

    </select>

    <update id="UpdatePw" parameterType="UpdatePwReq" statementType="CALLABLE">
        {CALL FND_ud_passwd(
                #{newpasswd},
                #{role},
                #{id}
            )}

    </update>
</mapper>