<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frontdoorprivacy.mapper.user.UserMapper">
    <select id="getUserInfo" resultType="User" parameterType="Integer" statementType="CALLABLE">
        { CALL FND_sd_User_Info(
                #{id}
        )
        }
    </select>

    <insert id="joinUserInfo" parameterType="JoinUser" statementType="CALLABLE">
        { Call FND_in_User(
        #{userName},
        #{birth},
        #{phoneNumber},
        #{userId},
        #{password},
        #{email}
        )
        }
    </insert>

    <update id="updateUserInfo" parameterType="UpdateUser" statementType="CALLABLE">
        { CALL FND_ud_User_Info(
                #{id},
                #{P_PhoneNumber},
                #{P_UserId},
                #{P_Password},
                #{P_EmailAddress}
        )
        }
    </update>

</mapper>