<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frontdoorprivacy.mapper.user.UserMapper">
    <select id="getUserInfo" resultType="User" parameterType="Integer" statementType="CALLABLE">
        { CALL FND_sd_User_Info(
        #{enid}
        )
        }
    </select>

    <insert id="joinUserInfo" parameterType="JoinUser" statementType="CALLABLE">
        { Call FND_in_User(
        #{userName},
        #{birth},
        #{phoneNumber},
        #{userId},
        #{password},
        #{email}
        )
        }
    </insert>

    <update id="updateUserInfo" parameterType="UpdateUser" statementType="CALLABLE">
        { CALL FND_ud_User_Info(
        #{id},
        #{P_PhoneNumber},
        #{P_UserId},
        #{P_Password},
        #{P_Email}
        )
        }
    </update>

    <select id="checkmultiple" parameterType="String" resultType="String" statementType="CALLABLE">
        { CALL FND_ck_userID(
        #{inputId}
        )
        }
    </select>

    <select id="enLogin" parameterType="LoginUser" resultType="UserLoginOutput" statementType="CALLABLE">
        { CALL FND_login_User(
        #{inputId},
        #{pw}
        )
        }
    </select>

    <delete id="deleteUser" parameterType="DeleteUser" statementType="CALLABLE">
        { FND_Delete_User(
        #{id}
        )
        }
    </delete>

</mapper>